{% extends 'base.html' %}

{% block title %}
{{ recipe_object.title }} -
Scrumptious Recipes
{% endblock title %}

{% block nav %}
<a class='nav-link' href="{% url 'recipe_list' %}">Main page</a>
{% endblock nav %}

{% block content %}
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button>Create</button>
  {% endblock content %}
