{% extends 'base.html' %}

{% block title %}
{{ recipe_object.title }} -
Scrumptious Recipes
{% endblock title %}

{% block nav %}
<a class="nav-link" href="{% url 'recipe_list' %}">Main page</a>
<a class="nav-link" href="{% url 'edit_recipe' recipe_object.id %}">Edit recipe</a>
{% endblock nav %}

{% block content %}
<div id="move">
<h1> {{ recipe_object.title }} </h1>
<p>
  <img class="fit-picture"
    src="{{ recipe_object.picture }}">
  <br>
  4.3 stars
  <h3>Ingredients</h3>
  <table>
    <thead>
      <tr>
        <th>Amount</th>
        <th>Food Item</th>
      </tr>
    </thead>
    <tbody>
      {% for ingredient in recipe_object.ingredients.all %}
      <tr>
        <td>{{ ingredient.amount }}</td>
        <td>{{ ingredient.food_item }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h3>Steps</h3>
  <ol>
    {% for step in recipe_object.steps.all %}
    <li>{{ step.instruction }}</li>
    {% endfor %}
  </ol>
</p>
</div>
{% endblock content %}
