{% extends 'base.html' %}

{% block title %}
{{ recipe_object.title }} -
Scrumptious Recipes
{% endblock title %}

{% block nav %}
<a class='nav-link' href="{% url 'recipe_list' %}">Main page</a>
{% endblock nav %}

{% block content %}
<h1>Edit {{ edit_recipe.title }}</h1>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button>Save</button>
</form>
{% endblock content %}
