{% extends 'base.html' %}

{% block title %}
Scrumptious Recipes
{% endblock title %}

{% block nav %}
<a class="nav-link" href="{% url 'recipe_list'%}">Main page</a>

{% if user.is_authenticated %}
<a class="nav-link" href="{% url 'my_recipe_list' %}">My recipes</a>
<a class="nav-link" href="{% url 'create_recipe' %}">Create a recipe</a>
  Hello, {{ user.first_name}}
  <a class="nav-link" href="{% url 'user_logout' %}">Logout</a>
{% else %}
  <a class="nav-link" href="{% url 'signup' %}">Sign up</a>
  <a class="nav-link" href="{% url 'user_login' %}">Login</a>
{% endif %}
{% endblock nav %}

{% block content %}
<div id="move">
  <h1>Scrumptious Recipes</h1>
  <h2>All the food that's fit to eat</h2>
  <div class="recipe-grid">
    {% for recipe in recipe_list %}
    <div>
      <h3><a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a></h3>
      <p>{{ recipe.created_on|date:"F j, Y"}}</p>
      <p>
      <img class="fit-picture"
        src="{{ recipe.picture }}"
        alt="Vegetarian Tacos">
      <br>
      4.3 stars
      </p>
  </div>
  {% endfor %}
</div>
{% endblock content %}
