{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %} {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    <nav>
      {% block nav %} {% endblock nav %}
    </nav>
  </head>
  <body>
    <main>
      {% block content%} {% endblock content %}
    </main>
    <footer>Made with love by Scrumptious Recipes</footer>
  </body>
</html>
